
# extra stuff I dont know what they are 
.DS_Store
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# Local config
local.properties

# Logs
*.log

